- form_tag '/', :class => 'destroy-form', :method => 'post' do
  %p
    != label_tag :title, :class => 'first'
    != text_field_tag "post[title]"
  %p
    != label_tag :body
    != text_area_tag "post[body]", :cols => 45, :rows => 40, :value => params[:body]
  %p
    != submit_tag "Submit"
